addons:
  chrome: stable
language: node_js
services:
  - xvfb
node_js:
  - '14'
cache:
  yarn: true
cache:
  - node_modules
before_install:
  - npm i -g yarn
install:
  - yarn install
script:
  - yarn run test
  - yarn run coverage
  - node scripts/ci/travis-check.js
after_success:
  - yarn add coveralls --ignore-workspace-root-check
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
